$font-san-serif: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif !global;
$font-serif: Merriweather, Courier, serif !global;
$text-normal-color: lightgrey !global;
$text-normal-size: 1rem !global;
$text-title-color: white !global;
$text-title-size: 1.5rem !global;
$text-link-color: #ED4C67 !global;

$background-color-night: #222f3e;
