@import "common";

#footer {
  background-color: $background-color-night;
}

.footer-container {
  height: 5rem;
  font-family: $font-serif;
  font-size: 0.9rem;
  #footer-github {
    margin: 1rem;
    padding-top: 2rem;
  }
}
