@import "common";

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $font-san-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 160%;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: underline;
  &:link {
    color: #ED4C67;
  }
  &:visited {
    color: #ED4C67;
  }
  &:hover {
    color: #ED4C67;
  }
  &:active {
    color: #ED4C67;
  }
}

.container {
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
