@import "common";

#header {
  background-color: $background-color-night;
  color: white;
  .header-container {
    margin: 0 1rem;
    padding: 1rem 0;
  }
  #header-title {
    font-size: 1.7rem;
    margin: 1rem auto;
    font-weight: bold;
    a {
      color: white;
      text-decoration: none;
    }
  }
  #avatar-img {
    display: inline-block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
  }
  #profile {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
    font-family: $font-serif;
    color: $text-normal-color;
    font-size: 0.9rem;
  }
  #header-body {
    position: relative;
  }
}

#menu {
  display: inline-block;
  position: absolute;
  right: 0;
  font-family: $font-serif;
  font-size: 0.9rem;
  margin-top: 1rem;
  #header-tag {
    display: inline-block;
    margin: auto 1rem;
  }
  #header-about {
    display: inline-block;
    margin: auto 1rem;
  }
}

@media (max-width: 576px) {
  #menu {
    display: block;
    text-align: right;
    position: relative;
  }
}
