.post-container {
  display: flex;
  margin: 1rem;
}

.post-img-container {
  min-width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}

.post-body {
  display: inline-block;
  margin: 0 1rem;
}

.post-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem 0;
}

.post-subtitle {
  color: grey;
}

.post-createdAt {
  margin: 1rem 0 0 0;
}

@media (max-width: 576px) {
  .post-container {
    display: block;
    margin: 1rem;
  }
}
